{
  "openapi": "3.1.1",
  "info": {
    "title": "Spidleweb public portfolio",
    "version": "1.0.0",
    "description": "A read-only description of Jason Spidle's public portfolio documents. The site is static and all documented operations are public GET requests; no authentication is currently required."
  },
  "servers": [
    {
      "url": "https://spidleweb.net"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getHomepage",
        "summary": "Get the portfolio homepage",
        "responses": {
          "200": {
            "description": "The portfolio homepage as HTML.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/work/expert-insights": {
      "get": {
        "operationId": "getExpertInsightsCaseStudy",
        "summary": "Get the Expert Insights case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/work/campaign-sim": {
      "get": {
        "operationId": "getCampaignSimCaseStudy",
        "summary": "Get the Campaign Sim case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/work/everag": {
      "get": {
        "operationId": "getEverAgCaseStudy",
        "summary": "Get the Ever.Ag case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/work/vidscrip": {
      "get": {
        "operationId": "getVidscripCaseStudy",
        "summary": "Get the Vidscrip case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/work/conservis": {
      "get": {
        "operationId": "getConservisCaseStudy",
        "summary": "Get the Conservis case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/work/plinth": {
      "get": {
        "operationId": "getPlinthCaseStudy",
        "summary": "Get the PLINTH case study",
        "responses": {
          "200": {
            "$ref": "#/components/responses/HtmlDocument"
          }
        }
      }
    },
    "/robots.txt": {
      "get": {
        "operationId": "getRobotsTxt",
        "summary": "Get crawler instructions",
        "responses": {
          "200": {
            "description": "Crawler instructions as plain text.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/sitemap.xml": {
      "get": {
        "operationId": "getSitemap",
        "summary": "Get the public URL sitemap",
        "responses": {
          "200": {
            "description": "The public URL sitemap as XML.",
            "content": {
              "application/xml": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApiDescription",
        "summary": "Get this OpenAPI description",
        "responses": {
          "200": {
            "description": "This OpenAPI description as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-protected-resource": {
      "get": {
        "operationId": "getProtectedResourceMetadata",
        "summary": "Get OAuth protected-resource metadata",
        "responses": {
          "200": {
            "description": "Protected-resource metadata as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "responses": {
      "HtmlDocument": {
        "description": "A public portfolio case study as HTML.",
        "content": {
          "text/html": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
